<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.dextra.bifrost">

    <application tools:node="merge">

        <activity
            android:name=".BifrostFlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
